[submodule "engine/external/fmt"]
	path = engine/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "engine/external/glfw"]
	path = engine/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/external/tracy"]
	path = engine/external/tracy
	url = https://github.com/wolfpld/tracy.git
